create table if not exists public.kerifa_applications (
  id uuid default gen_random_uuid() primary key,
  full_name text not null,
  id_number text not null,
  address text,
  phone text,
  family_phone text,
  status text default 'PENDING',
  created_at timestamp with time zone default now()
);
alter table public.kerifa_applications enable row level security;
create policy \
Permitir
insertar
aplicaciones\ on public.kerifa_applications for insert with check (true);
create policy \Admin
puede
ver
aplicaciones\ on public.kerifa_applications for select using (true);

